//  COLOR NAME REFERENCE
//  http://chir.ag/projects/name-that-color/

$color-whisper: #E4E4E4;
$color-spunpearl: #AAA8AE;
$color-malibu: #7DA2F9;
$color-algae-green: #8EDDBB;
$color-manhattan: #F5C484;
$color-biloba-flower: #CDA7E8;
$color-ecstasy: #F68727;