@import 'variables/colors.scss';

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 13px;
}
.debugger {
  border: 1px solid red;
}
.bg-whisper {
  background-color: $color-whisper;
}
.text-whisper {
  color: $color-whisper;
}
.text-spunpearl {
  color: $color-spunpearl;
}
.fa-1-5 {
  font-size: 1.5em;
}
.divider {
  border-left: 2px solid #f0f0f0;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1190px !important;
  }
}