@import 'variables/colors.scss';

* {
  margin: 0;
  padding: 0;
}
.debugger {
  border: 1px solid red;
}
.bg-whisper {
  background-color: $color-whisper;
}
.badge-malibu {
  background-color: $color-malibu;
  color: white;
}
.badge-algae-green {
  background-color: $color-algae-green;
  color: white;
}
.badge-manhattan {
  background-color: $color-manhattan;
  color: white;
}
.badge-biloba-flower {
  background-color: $color-biloba-flower;
  color: white;
}
.badge-ecstasy {
  background-color: $color-ecstasy;
  color: white;
}
.text-whisper {
  color: $color-whisper;
}
.text-spunpearl {
  color: $color-spunpearl;
}
.text-algae-green {
  color: $color-algae-green;
}
.fa-1-5 {
  font-size: 1.5em;
}
.divider {
  border-left: 2px solid #f0f0f0;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.pagination-page a{
  color: $color-spunpearl;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
}
.pagination-page .active {
  font-weight: bold;
}
.pagination-prev a {
  color: $color-spunpearl;
  font-size: 30px;
  line-height: 20px;
}
.pagination-next a {
  color: $color-spunpearl;
  font-size: 30px;
  line-height: 20px;
}
.pagination > .disabled a {
  color: $color-whisper;
}
.custom-select {
  background-image: url('/static/img/chevron-down.svg');
  background-size: 15px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1190px !important;
  }
}