@import '../../variables/colors.scss';
@import './extra_small.scss';
@import './small.scss';
@import './medium.scss';

#analytics {
    #pie-chart {
        height: 20px;
    }
    .peso{
        height: 16px;
        margin-bottom: 8px;
    }
    .peso-small {
        height: 11px;
        margin-bottom: 2px;
    }
    .card-body {
        padding: 0.5rem 1rem;
        min-height: 195px;
    }
    .date-picker-icon {
        top: 10px;
        right: 35px;
        position: absolute;
    }
}