@import '../../variables/colors.scss';
@import './extra_small.scss';
@import './small.scss';
@import './medium.scss';

#header {
  padding-top: 30px;
  #logo {
    height: 20px;
    width: 60px;
  }
  .badge {
    top: -13px !important;
    left: -11px !important;
  }
  #question-dialog {
    height: 40px;
  }
}